.box1{
  float: right;
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
}
.boxin1{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  
}
.box2{
  float: left;
  width: 50%;
}
.cont{
  align-items: center;
  margin: 100px;
 
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  
}
button{
  color:white; 
  border-radius: 10px;
  background-Color: #43C4DE;
  width: 100px ;
   height:30px;
   border: 1px solid black;
}